data/artificial_len1000.fasta
data/artificial_len10000.fasta
data/artificial_len100000.fasta
data/artificial_len1000000.fasta
data/artificial_len10000000.fasta
data/artificial_len10000000_k100_insert.txt
data/artificial_len10000000_k100_queries.csv
data/artificial_len10000000_k10_insert.txt
data/artificial_len10000000_k10_queries.csv
data/artificial_len10000000_k200_insert.txt
data/artificial_len10000000_k200_queries.csv
data/artificial_len10000000_k20_insert.txt
data/artificial_len10000000_k20_queries.csv
data/artificial_len10000000_k50_insert.txt
data/artificial_len10000000_k50_queries.csv
data/artificial_len1000000_k100_insert.txt
data/artificial_len1000000_k100_queries.csv
data/artificial_len1000000_k10_insert.txt
data/artificial_len1000000_k10_queries.csv
data/artificial_len1000000_k200_insert.txt
data/artificial_len1000000_k200_queries.csv
data/artificial_len1000000_k20_insert.txt
data/artificial_len1000000_k20_queries.csv
data/artificial_len1000000_k50_insert.txt
data/artificial_len1000000_k50_queries.csv
data/artificial_len100000_k100_insert.txt
data/artificial_len100000_k100_queries.csv
data/artificial_len100000_k10_insert.txt
data/artificial_len100000_k10_queries.csv
data/artificial_len100000_k200_insert.txt
data/artificial_len100000_k200_queries.csv
data/artificial_len100000_k20_insert.txt
data/artificial_len100000_k20_queries.csv
data/artificial_len100000_k50_insert.txt
data/artificial_len100000_k50_queries.csv
data/artificial_len10000_k100_insert.txt
data/artificial_len10000_k100_queries.csv
data/artificial_len10000_k10_insert.txt
data/artificial_len10000_k10_queries.csv
data/artificial_len10000_k200_insert.txt
data/artificial_len10000_k200_queries.csv
data/artificial_len10000_k20_insert.txt
data/artificial_len10000_k20_queries.csv
data/artificial_len10000_k50_insert.txt
data/artificial_len10000_k50_queries.csv
data/artificial_len1000_k100_insert.txt
data/artificial_len1000_k100_queries.csv
data/artificial_len1000_k10_insert.txt
data/artificial_len1000_k10_queries.csv
data/artificial_len1000_k200_insert.txt
data/artificial_len1000_k200_queries.csv
data/artificial_len1000_k20_insert.txt
data/artificial_len1000_k20_queries.csv
data/artificial_len1000_k50_insert.txt
data/artificial_len1000_k50_queries.csv
data/artificial_len2000.fasta
data/artificial_len2000_k100_insert.txt
data/artificial_len2000_k100_queries.csv
data/artificial_len2000_k10_insert.txt
data/artificial_len2000_k10_queries.csv
data/artificial_len2000_k200_insert.txt
data/artificial_len2000_k200_queries.csv
data/artificial_len2000_k20_insert.txt
data/artificial_len2000_k20_queries.csv
data/artificial_len2000_k50_insert.txt
data/artificial_len2000_k50_queries.csv
data/artificial_len5000.fasta
data/artificial_len50000.fasta
data/artificial_len500000.fasta
data/artificial_len5000000.fasta
data/artificial_len5000000_k100_insert.txt
data/artificial_len5000000_k100_queries.csv
data/artificial_len5000000_k10_insert.txt
data/artificial_len5000000_k10_queries.csv
data/artificial_len5000000_k200_insert.txt
data/artificial_len5000000_k200_queries.csv
data/artificial_len5000000_k20_insert.txt
data/artificial_len5000000_k20_queries.csv
data/artificial_len5000000_k50_insert.txt
data/artificial_len5000000_k50_queries.csv
data/artificial_len500000_k100_insert.txt
data/artificial_len500000_k100_queries.csv
data/artificial_len500000_k10_insert.txt
data/artificial_len500000_k10_queries.csv
data/artificial_len500000_k200_insert.txt
data/artificial_len500000_k200_queries.csv
data/artificial_len500000_k20_insert.txt
data/artificial_len500000_k20_queries.csv
data/artificial_len500000_k50_insert.txt
data/artificial_len500000_k50_queries.csv
data/artificial_len50000_k100_insert.txt
data/artificial_len50000_k100_queries.csv
data/artificial_len50000_k10_insert.txt
data/artificial_len50000_k10_queries.csv
data/artificial_len50000_k200_insert.txt
data/artificial_len50000_k200_queries.csv
data/artificial_len50000_k20_insert.txt
data/artificial_len50000_k20_queries.csv
data/artificial_len50000_k50_insert.txt
data/artificial_len50000_k50_queries.csv
data/artificial_len5000_k100_insert.txt
data/artificial_len5000_k100_queries.csv
data/artificial_len5000_k10_insert.txt
data/artificial_len5000_k10_queries.csv
data/artificial_len5000_k200_insert.txt
data/artificial_len5000_k200_queries.csv
data/artificial_len5000_k20_insert.txt
data/artificial_len5000_k20_queries.csv
data/artificial_len5000_k50_insert.txt
data/artificial_len5000_k50_queries.csv
data/data_summary.csv
data/ecoli_k100_insert.txt
data/ecoli_k100_queries.csv
data/ecoli_k10_insert.txt
data/ecoli_k10_queries.csv
data/ecoli_k200_insert.txt
data/ecoli_k200_queries.csv
data/ecoli_k20_insert.txt
data/ecoli_k20_queries.csv
data/ecoli_k50_insert.txt
data/ecoli_k50_queries.csv
